# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/
.env
*.sqlite3

# Flask/Alembic
instance/
migrations/versions/__pycache__/
migrations/*.log
migrations/*.pyc

# pytest
.pytest_cache/
.coverage
htmlcov/

# VSCode & OS
.vscode/
.DS_Store