### `.gitignore`
```gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/
.env
*.sqlite3

# Flask/Alembic
instance/
migrations/versions/__pycache__/

# VSCode & OS
.vscode/
.DS_Store